<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Register</servlet-name><!-- can be anyName -->
  	<display-name>Register</display-name><!-- can be anyName -->
  	<description></description>
  	<servlet-class>com.deloitte.servlets.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.deloitte.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<display-name>AdminServlet</display-name>
  	<description></description>
  	<servlet-class>com.deloitte.servlets.AdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.deloitte.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name><!-- can be anyName -->
  	<url-pattern>/Register</url-pattern><!-- can be anyName -->
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>

</web-app>  

<!-- end -->